@charset "UTF-8";
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.card__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.modal__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__thumb {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe__input::-moz-placeholder {
  display: flex;
  align-items: center;
}

.subscribe__input:-ms-input-placeholder {
  display: flex;
  align-items: center;
}

.modal__button, .modal__checkbox-label, .subscribe__input::placeholder, .subscribe__button, .subscribe__input, .work__thumb, a.contacts__tel,
a.contacts__mail, .contacts, .navigation {
  display: flex;
  align-items: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background: white;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.js-menu-container {
  position: absolute;
  transform: translateX(100%);
  background-color: white;
  width: 100%;
  left: 0;
  top: 100%;
  padding-right: 40px;
  text-align: center;
  font-size: 40px;
}
.js-menu-container.is-open {
  transform: translateX(0);
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: #212121;
}
.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

.menu-button .js-open-menu.icon-cross {
  display: none;
}

.menu-button .js-open-menu .icon-cross {
  display: block;
}

.menu-button .icon-menu {
  display: none;
}

.js-open-menu {
  border: none;
  background-color: transparent;
}
.js-open-menu .js-open-menu:hover,
.js-open-menu .js-open-menu:focus {
  fill: #2196f3;
}

.js-close-menu {
  border: none;
  background-color: transparent;
  margin-left: 250px;
  margin-top: 10px;
}
.js-close-menu .js-close-menu:hover,
.js-close-menu .js-close-menu:focus {
  fill: #2196f3;
}

.mobile-nav__list {
  flex-grow: 1;
  margin-bottom: 32px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-nav__link {
  display: inline-block;
  padding: 8px 0;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
  color: #2196f3;
}

.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-contacts__tel {
  display: block;
  margin-top: 200px;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contacts__mail {
  display: block;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
  color: #212121;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  padding: 8px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.hdr.container {
  display: flex;
  position: relative;
}

.header__logo {
  font-family: "Raleway";
  text-decoration: none;
}

.header__logo--sp {
  color: #212121;
}

a.header__logo {
  color: #2196f3;
}

.header__logo {
  color: #212121;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
  display: block;
  text-decoration: none;
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item .nav__item:hover::after,
.nav__item .nav__item:focus::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--act {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--act::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  list-style: none;
  margin-left: auto;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: none;
  }
}

.contacts__item {
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail,
.contacts__tel {
  position: relative;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
}

a.contacts__tel,
a.contacts__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  text-decoration: none;
}

.contacts__icon--mail {
  margin-right: 10px;
}

.contacts__icon--tel {
  margin-right: 10px;
}

.hero {
  background: #2f303a;
  width: 480px;
  height: 400px;
  padding: 0;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img\ fon\ \(1\).jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 360px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero__button {
  width: 200px;
  height: 50px;
  position: fixed;
  border-radius: 4px;
  color: white;
  background: #2196f3;
  font-family: inherit;
  position: absolute;
  margin-left: 140px;
  margin-right: 140px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188CE8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__list {
  padding-left: 0;
  margin: 0;
}
@media screen and (min-width: 480px) {
  .features__list {
    width: 450px;
    margin: 0 auto;
  }
}

.features__item {
  list-style: none;
}

.features__thumb {
  display: block;
  background-color: #F5F4FA;
  border-radius: 3px;
  margin-bottom: 20px;
}

.features__icon {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.features__title {
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__text {
  color: #757575;
  margin-bottom: 30px;
}

.work {
  padding-top: 0;
}

.work__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.work__list {
  list-style: none;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item {
  position: relative;
}

.work__thumb {
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__section {
  background: #F5F4FA;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .team__section {
    width: 480px;
  }
}

.team__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.team__list {
  list-style: none;
  margin: 0 auto;
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: white;
}

.card__img {
  width: 450px;
  height: 460px;
  margin: 0 auto;
}

.card__title {
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.card__text {
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.card__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.card__link {
  display: block;
  color: #AFB1B8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover,
.card__link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 30px;
}

.clients__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .clients__list {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .clients__list {
    flex-wrap: wrap;
  }
}

.clients__item {
  margin: 15px;
  flex-basis: calc((100% - 60px) / 2);
}
@media screen and (min-width: 480px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.clients__link {
  display: block;
  margin-bottom: 20px;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer__section {
  align-items: baseline;
  background: #2f303a;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section a {
  cursor: default;
}

.footer__section .container {
  display: flex;
  align-items: baseline;
}

.footer__section .card__link {
  color: #fff;
  background-color: #43444D;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__section .card__item:not(:last-child) {
  margin-right: 10px;
}

.footer__section .card__link:hover,
.footer__section .card__link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__box {
  margin-right: 70px;
}

.header__logo--inverse {
  color: white;
}

.address {
  margin-top: 28px;
}

.address__list {
  list-style: none;
}

.address__list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
}

.address__item:not(:last-child) {
  margin-bottom: 15px;
}

.join__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.join__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  display: flex;
  align-items: end;
  margin-left: auto;
}

.subscribe__label {
  width: 340px;
  margin-right: 12px;
}

.subscribe__text {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe__input {
  width: 340px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  color: #fff;
}

.subscribe__button {
  width: 190px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #188CE8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #757575;
  background-color: transparent;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 6px;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
}

.modal__close-icon:focus,
.modal__close-icon:hover {
  background-color: transparent;
  fill: #2196f3;
}

.modal__form {
  width: 448px;
  height: 511px;
  margin-left: auto;
  margin-right: auto;
}

.modal__title {
  text-align: center;
  color: #212121;
  height: 23px;
  margin-top: 0;
}

.modal__field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  color: #757575;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover ~ .modal__icon,
.modal__input:focus ~ .modal__icon {
  fill: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 12px;
  left: 15px;
}

.modal__input:hover,
.modal__input:focus,
.modal__input:focus-visible,
textarea:focus,
textarea:hover,
textarea:focus-visible {
  border-color: #2196f3;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  fill: #757575;
  padding: 16px;
}

.comment {
  margin-top: 10px;
  width: 100%;
  border-color: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 10px;
}

.subscribe__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.modal__checkbox-label {
  justify-content: center;
  margin-bottom: 30px;
}

.modal__checkbox-icon {
  margin-right: 7px;
  box-sizing: content-box;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #212121;
  cursor: pointer;
  border-radius: 2px;
}

.modal__policy:hover + .modal__checkbox-icon,
.modal__policy:focus + .modal__checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy:checked + .modal__checkbox-icon {
  background-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__policy {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal__agree {
  cursor: pointer;
  color: #757575;
}

.modal__terms {
  text-decoration: underline;
  color: #2196f3;
}

.modal__button {
  background-color: #2196f3;
  justify-content: center;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-color: #2196f3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__button:hover,
.modal__button:focus {
  background-color: #188CE8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__list {
  list-style: none;
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__link:focus .portfolio__thumb::after,
.portfolio__link:hover .portfolio__thumb::after {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.portfolio__link {
  display: block;
}

.portfolio__link:focus,
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio__thumb::after {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  width: 370px;
  height: 294px;
  opacity: 0.8;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(110%);
}

.portfolio__box {
  padding: 20px 24px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.portfolio__title {
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__text {
  color: #757575;
}

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
}

.filter {
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 9px;
}

.filter__button {
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.bottom-line {
  border-bottom: 1px solid #ECECEC;
}/*# sourceMappingURL=main.css.map */