@charset "UTF-8";
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --primary-white-color: white;
  --accent-color: #2196f3;
  --secondry-background-color: #F5F4FA;
  --button_focused_color: #188CE8;
  --transition--duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.card__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__thumb {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe__button, .subscribe__input, .work__thumb, .features__thumb, a.contacts__tel,
a.contacts__mail, .contacts, .navigation {
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  /* outline: 2px solid red;  */
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  background: white;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header__logo {
  font-family: "Raleway";
  text-decoration: none;
  margin-right: 93px;
}

.header__logo--sp {
  color: #212121;
}

a.header__logo {
  color: var(--accent-color);
}

.header__logo {
  color: black;
}

header .container {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
  display: block;
  text-decoration: none;
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item .nav__item:hover::after,
.nav__item .nav__item:focus::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--act {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--act::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  list-style: none;
  margin-left: auto;
}

.contacts__item {
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail,
.contacts__tel {
  position: relative;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
}

a.contacts__tel,
a.contacts__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  text-decoration: none;
}

.contacts__icon--mail {
  margin-right: 10px;
}

.contacts__icon--tel {
  margin-right: 10px;
}

.hero {
  background: #2f303a;
  display: block;
  text-align: center;
  padding-top: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img\ fon\ \(1\).jpg);
  background-size: cover;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero__button {
  min-width: 130px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  color: white;
  background: #2196f3;
  font-family: inherit;
  width: 200px;
  height: 50px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: #188CE8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  list-style: none;
  width: 270px;
}

.features__thumb {
  justify-content: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 3px;
  height: 120px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__title {
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__text {
  color: #757575;
}

.work {
  padding-top: 0;
}

.work__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.work__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item {
  position: relative;
}

.work__thumb {
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  left: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__section {
  background: #F5F4FA;
}

.team__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.team__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: white;
}

.card:not(:last-child) {
  margin-right: 30px;
}

.card__title {
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.card__text {
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.card__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.card__item:not(:last-child) {
  margin-right: 10px;
}

.card__link {
  display: block;
  color: #AFB1B8;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover,
.card__link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: block;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  padding: 16px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer__section {
  align-items: baseline;
  background: #2f303a;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section a {
  cursor: default;
}

.footer__section .container {
  display: flex;
  align-items: baseline;
}

.footer__section .card__link {
  color: #fff;
  background-color: #43444D;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__section .card__item:not(:last-child) {
  margin-right: 10px;
}

.footer__section .card__link:hover,
.footer__section .card__link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__box {
  margin-right: 70px;
}

.header__logo--inverse {
  color: white;
}

.address {
  margin-top: 28px;
}

.address__list {
  list-style: none;
}

.address__list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
}

.address__item:not(:last-child) {
  margin-bottom: 15px;
}

.join__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.join__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  display: flex;
  align-items: end;
  margin-left: auto;
}

.subscribe__label {
  width: 340px;
  margin-right: 12px;
}

.subscribe__text {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe__input {
  width: 340px;
  height: 50px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  color: #fff;
}

.subscribe__button {
  width: 190px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: #188CE8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  fill: #FFFFFF;
  margin-left: 10px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --primary-white-color: white;
  --accent-color: #2196f3;
  --secondry-background-color: #F5F4FA;
  --button_focused_color: #188CE8;
  --transition--duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__list {
  list-style: none;
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__link:focus .portfolio__thumb::after,
.portfolio__link:hover .portfolio__thumb::after {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.portfolio__link {
  display: block;
}

.portfolio__link:focus,
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio__thumb::after {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  width: 370px;
  height: 294px;
  opacity: 0.8;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(110%);
}

.portfolio__box {
  padding: 20px 24px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
}

.portfolio__title {
  color: #212121;
  margin-bottom: 4px;
}

.portfolio__text {
  color: #757575;
}

.header__logo {
  font-family: "Raleway";
  text-decoration: none;
  margin-right: 93px;
}

.header__logo--sp {
  color: #212121;
}

a.header__logo {
  color: var(--accent-color);
}

.header__logo {
  color: black;
}

header .container {
  display: flex;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__item {
  position: relative;
  display: block;
  text-decoration: none;
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__item .nav__item:hover::after,
.nav__item .nav__item:focus::after {
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link {
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--act {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--act::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  list-style: none;
  margin-left: auto;
}

.contacts__item {
  color: #757575;
  fill: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover,
.contacts__item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail,
.contacts__tel {
  position: relative;
  padding-right: 40px;
  padding-top: 32px;
  padding-bottom: 32px;
}

a.contacts__tel,
a.contacts__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: currentColor;
  text-decoration: none;
}

.contacts__icon--mail {
  margin-right: 10px;
}

.contacts__icon--tel {
  margin-right: 10px;
}

.filter {
  list-style: none;
  display: flex;
  justify-content: center;
}

.filter {
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 9px;
}

.filter__button {
  text-align: center;
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  border: none;
  font-family: inherit;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.bottom-line {
  border-bottom: 1px solid #ECECEC;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.card__text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.subscribe__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.header__logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.work__thumb {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer__section {
  align-items: baseline;
  background: #2f303a;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section a {
  cursor: default;
}

.footer__section .container {
  display: flex;
  align-items: baseline;
}

.footer__section .card__link {
  color: #fff;
  background-color: #43444D;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__section .card__item:not(:last-child) {
  margin-right: 10px;
}

.footer__section .card__link:hover,
.footer__section .card__link:focus {
  color: #fff;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__box {
  margin-right: 70px;
}

.header__logo--inverse {
  color: white;
}

.address {
  margin-top: 28px;
}

.address__list {
  list-style: none;
}

.address__list a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: white;
}

.address__item:not(:last-child) {
  margin-bottom: 15px;
}/*# sourceMappingURL=main.css.map */