
body {
    font-size: 14px;
    letter-spacing: 0.03em;
    font-family: "Roboto", sans-serif;
    background: white;
}

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.container{
    min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px) {
    width:  480px;
  }
 
}
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
  }

