

.features__list {

padding-left: 0;
  margin: 0;
  @media screen and (min-width: 480px) {
    width: 450px;
    margin: 0 auto;
  }
}

.features__item{
  list-style: none;
 
  
}
.features__thumb { 
  display: block;
  //  @extend %flex__align;
  // justify-content: center;  
  background-color: #F5F4FA;  
  border-radius: 3px;  
  margin-bottom: 20px;

}

.features__icon {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
// .features__item:not(:last-child){
//   margin-right: 30px;
// }
.features__title {
  @extend %features__title;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
 
}
.features__text {  
  @extend %features__text;
  color: #757575;
  margin-bottom: 30px;
  
}
