
.features__list {
display: flex;
  flex-wrap:wrap;
  
}
.features__item{
  list-style: none;
  width: 270px; 
}
.features__thumb { 
   @extend %flex__align;
  justify-content: center;  
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 3px;
  height: 120px;
}

.features__icon {
  width: 70px;
  height: 70px;
}
.features__item:not(:last-child){
  margin-right: 30px;
}
.features__title {
  @extend %features__title;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
 
}
.features__text {  
  @extend %features__text;
  color: #757575;
}