.hdr.container {
    display: flex;
   position: relative;

}
.header__logo {
    font-family: "Raleway";
    @extend %header__logo;
    text-decoration: none;
}

.header__logo--sp {
    color:$primary-text-color;
}

a.header__logo {
    color:$accent-color;
}

.header__logo {
    color:$primary-text-color;}


