

.js-menu-container{  
 position: absolute;   
    transform: translateX(100%);
  &.is-open {
    transform: translateX(0);
  }
  background-color:white;
  width: 100%;
  
  left: 0;
  top: 100%;
 padding-right: 40px;
  text-align: center;
  font-size: 40px;
//  @media screen and(max-width:480px){
//   width:480px;
//  }
}
.menu-button{  
  background-color: transparent;
  border: none; 
  cursor: pointer;
  fill: $primary-text-color;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  
}
.menu-button .js-open-menu.icon-cross{
  display: none;
}
.menu-button .js-open-menu .icon-cross{
  display: block;
}
.menu-button .icon-menu{
  display: none;
}

.js-open-menu{

    border:none;
  background-color: transparent;
 .js-open-menu:hover,
 .js-open-menu:focus {
  fill: $accent-color;
  }
}
 .js-close-menu{
  border:none;
  background-color: transparent;
margin-left: 250px;
margin-top: 10px;
 .js-close-menu:hover,
 .js-close-menu:focus {
  fill: $accent-color;
  }
}
.mobile-nav__list {
  flex-grow: 1;
  margin-bottom: 32px;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 16px;
}
.mobile-nav__link {
  display: inline-block;
  padding: 8px 0;
font-weight: 300;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;
}


  .mobile-nav__link:hover,
  .mobile-nav__link:focus {
    color: $accent-color;
  }

.mobile-nav__link--current {
  color: $accent-color;
}

.mobile-contacts__tel {
  display: block;
  margin-top: 200px;
  margin-bottom: 32px;
  font-weight: 300;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
}
.mobile-contacts__mail {
  display: block;
  
  margin-bottom: 32px;
  font-weight: 300;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;

color: #2196F3;
  color: $primary-text-color;
}

.social {
  display: flex;
}
.social__item:not(:last-child) {
  margin-right: 20px;
}
.social__link {
  display: block;
  padding: 8px 0;
font-weight: 300;
font-size: 18px;
line-height: 22px;


letter-spacing: 0.02em;

color: #2196F3;
  
}
  
