.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;  
}
.portfolio__list{ 
  list-style: none;  
}
.portfolio__item{
 flex-basis: calc(100%/3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__link:focus .portfolio__thumb::after,
.portfolio__link:hover .portfolio__thumb::after {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.portfolio__link {
  display: block;
}

.portfolio__link:focus,
.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb{
  position: relative;
  display: block;  
    overflow: hidden;    
}
.portfolio__thumb::after{
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
 font-weight: 400;
  font-size: 18px;
  line-height: 1.55;  
  letter-spacing: 0.03em;  
  color: #FFFFFF;
  padding: 63px 24px;   
  content: 'Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.';  
  width: 370px;
  height: 294px;
  opacity: 0.8;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(110%);

}

.portfolio__box{
  padding: 20px 24px;
  border-bottom: 1px solid #ECECEC;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  
}

.portfolio__title {  
 @extend %portfolio__title ;
  color: #212121;
  margin-bottom: 4px;  
}
.portfolio__text{
  @extend %portfolio__text;
  color: #757575;  
}