%hero_title{
    font-weight: 900;
  font-size: 44px;
  line-height: 1.36;    
  letter-spacing: 0.06em;
}
%modal__title{ 
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;  
  letter-spacing: 0.03em;}
%clients__title{   
  font-weight: 700;
    font-size: 36px;
    line-height: 1.16;    
    letter-spacing: 0.03em; }
%card__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;}
    %card__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;}
    %features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;}
  %features__text {  
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;}
  %filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;  
  letter-spacing: 0.03em;}
  %subscribe__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;}
  %subscribe__input {  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;  
  letter-spacing: 0.03em;}
  %subscribe__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;  
  letter-spacing: 0.06em;}
  %header__logo {    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;}
    %hero__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
   letter-spacing: 0.06em;}
   %join__title{
  font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;}
    %modal__label{  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;  
    letter-spacing: 0.01em; }
    %modal__agree {  
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;}
  %modal__button{   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;}
    %nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;}

  %portfolio__title { 
 font-weight: 700;
  font-size: 18px;
  line-height: 2;  
  letter-spacing: 0.06em;}
  %portfolio__text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;  
  letter-spacing: 0.03em;}
  %team__title {
  font-weight: 700 ;
  font-size: 36px;
  line-height: 1.16; 
  letter-spacing: 0.03em;}
  %work__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;  
  letter-spacing: 0.03em;}
  %work__thumb{      
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;  
  letter-spacing: 0.03em;}