:root {
    --primary-text-color: #212121;
    --primary-white-color: white;
    --accent-color: #2196f3;
    --secondry-background-color: #F5F4FA;
    --button_focused_color: #188CE8;
    --transition--duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}